.navbar {
    position: relative;
    color: rgba(240, 248, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 130px;
    z-index: 1;
    top: 0px;
    max-width: 35vw;
    border-bottom: 1px solid rgba(240, 248, 255, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }


  .navbar__item {
    font-size: 0.8rem;
    letter-spacing: 1.1px;
    margin: 4px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    font-weight: 400;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: white;
    align-items: center;
  }


.navbar__item:hover {
    color: rgba(240, 248, 255, 1);
    border-bottom: 1px solid rgba(240, 248, 255, 1);
    cursor: pointer;
    scale: 1.05;
}

.categories {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 0px;
  border-radius: 2px;
  padding-top: 10px;
  font-size: small;
  left: -15px;
}

.category__item {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 3px;
  color: rgba(240, 248, 255, 1);
}

.category__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.category__item--red {
  color: #ef233c;
}

@media only screen and (max-width:760px) {

  .navbar {
    margin-left: 60px;
  }

  .navbar__item {
    font-size: 0.7rem;

  }

  .categories {
    font-size: smaller;
    left: -5px;
  }
}