* {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.app {
  position: relative;
  min-height: 100vh;
}

.home {
  width: 90vw;
  margin: 0 auto;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favourites-message,
.about {
  margin-top: 30vh;
  height: 10vh;
  color: white;
  text-align: center;
  line-height: 2em;
}

.about a {
  color: #FE6D73;
  text-decoration: none;
  font-weight: 600;
}

.footer {
  width: 100vw;
  color: white;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(36, 36, 35, 0.7);
  font-size: 0.8rem;
  margin-top: 50px;
  position: absolute;
  bottom: -150px;
}