* {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.home {
  width: 90vw;
  margin: 0 auto;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favourites-message,
.about {
  margin: 20% 50px;
  color: white;
  text-align: center;
}

.about {
  line-height: 2em;
}

.about a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}